
.filtros{
    display: flex;
    justify-content: space-between;
    margin-top: 12%;
}

.input-wrapper{
    position: relative;
    margin-left: 5%;
}

.input{
    width: 200%;
    padding: 10px 0px;
    text-indent: 40px;
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
}

.bi{
    color: #929292;
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
}

.select{
    margin-right: 5%;
    width: 15%;
    border: 1px solid white;
    background-color: white;
    border-radius: 5px;
    font-weight: 100;
    /* text-indent: 10px; */
    padding: 0px 17px;
}

option{
    margin-top: 5px;
}

/* dark model */

.dark{
    background-color: hsl(207, 26%, 17%);
}

.dark .input{
    background-color: hsl(209, 23%, 22%);
    color: white;
    border: 1px solid hsl(209, 23%, 22%);
}

.dark .select{
    background-color: hsl(209, 23%, 22%);
    color: white;
    border: 1px solid hsl(209, 23%, 22%);
}


@media screen and (max-width:430px) {
    .filtros{
        margin-top: 169px;
        flex-direction: column;
    }

    .input{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .select{
        width: 45%;
        padding: 16px 17px;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width:820px) {
    .filtros{
        margin-top: 150px;
    }
}