
.link{
    margin-top: 150px;
}

.back{
    padding: 6px 30px 10px 30px;
    border: 1px solid white;
    border-radius: 5px;
    margin-left: 80px;
    text-decoration: none;
    color: black;
    background-color: white;
}

.contenido{
    display: flex;
    margin-left: 6%;
    margin-top: 5%;
}

.contenidoTextos{
    display: flex;
    margin-left: 16%;
}

.imgContenido{
    width: 130%;
    height: 90%;
}

.title{
    font-weight: bold;
    margin-bottom: 30px;
}

.contenidoTextoUno{
    margin-right: 30%;
    width: 80%;
}

.titulosAndLogo{
    display: flex;
}

.logo{
    font-size: 30px;
    margin-left: 20px;
}

.contednidoDos{
    /* margin-left: 30%; */
    margin-top: 70px;
    /* width: 80%; */
}


.dark .back{
    background-color: #2B3945;
    color: white;
    border: 1px solid #2B3945;
}

.dark .title{
    color: white;
}

.dark .contenidoTextoUno{
    color: white;
}

.dark span{
    color: #757E85;
}

.dark .contednidoDos{
    color: white;
}